---
import {basics} from '../cv.json'

const { name, label, image, location, profiles, phone, email } = basics
const { address, city } = location

import Sections from './Sections/Sections.astro'
import Email from '@/icons/Mail.astro'
import Phone from '@/icons/Phone.astro'
import LinkedIn from '@/icons/LinkedIn.astro'
import X from '@/icons/X.astro'
import GitHub from '@/icons/GitHub.astro'
import WorldMap from '@/icons/WorldMap.astro'

const SOCIAL_ICONS: Record<string, any> = {
    email: Email,
    phone: Phone,
    linkedin: LinkedIn,
    github: GitHub,
    x: X,
}
---

<Sections>
    <div class="container">
        <div class="hero-content">
            <h1>{name}</h1>
            <h2>{label}</h2>
            <span>
                <WorldMap />
                {city}, {address}
            </span>
             <footer>
            {
                email && (
                    <a href={`mailto:${email}`} class="hero-link"
                    title={`Enviar un correo electrónico a ${name} al correo ${email}`}
                    target="_blank">
                        <Email />
                    </a>
                    )
            }
             {
                phone && (
                    <a href={`tel:${phone}`} class="hero-link"
                    title={`Llamar a ${name} al número ${phone}`}
                    target="_blank">
                        <Phone />
                    </a>
                    )
            }
            {
                profiles.map(({network, username, url}) => {
                    const Icon = SOCIAL_ICONS[network.toLowerCase()]
                    return (
                        <a href={url} rel="noopener noreferrer" title={`Perfil de ${username} en ${network}`} class="hero-link" target="_blank">
                            <Icon />
                        </a>
                    )
                })
            }
        </footer>
        </div>
        
       
        <figure>
            <img src={image} alt={`foto de ${name}`} />
    </figure>
    </div>
    
</Sections>

<style>
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 20px;
}
.hero-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 2rem;  
}
h1 {
    font-size: 2rem;
}
h2 {
    color: #444;
    font-weight: 500;
    font-size: 1.1rem;
    text-wrap: balance;
}
img {
    width: 120px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
}

footer {
    display: flex;
    gap: 4px;
    margin-top: 8px;
} 
footer a {
    color: #777;
    display: flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    height: 32px;
    width: 32px;
    pad: 4px;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
}

footer a:hover {
    background: #eee;
}
.herolink {
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-decoration: none;
}
</style>

